* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  width: 6rem;
  position: fixed;
}

main {
  min-height: 100vh;
  text-align: left;
  padding: 1rem 0;
}

.wrapper {
  padding: 0.5rem 0;
}

i {
  font-size: 1rem;
}
